* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    color: #ddd;
  }
  .nav-logo{
    background-color: white;
    border-radius: 10px;
    height:55px;
    margin-left:10px;
  }
  header {
    width: 100%;
    background-color: #0f1111;
  }
  .navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #fff;
    max-width: 1280px;
    margin: 0 auto;
  }
  .nav-logo img {
    margin-top: 10px;
    width: 128px;
  }
  .address .deliver {
    margin-left: 20px;
    font-size: 0.75rem;
    color: #ccc;
  }
  
  .nav-search {
    display: flex;
    justify-content: space-evenly;
    max-width: 620px;
    width: 100%;
    height: 40px;
  
  }
  .search-input {
    max-width: 600px;
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 10px;
    border-radius: 100px;
  }
  
  .sign-in p,
  .returns p {
    font-size: 0.75rem;
  }
  .sign-in,
  .returns span {
    font-size: 0.875rem;
    font-weight: 600;
  }
  .banner {
    padding: 10px 20px;
    background: #222f3d;
    color: #fff;
    font-size: 0.875rem;
  }
  .banner-content {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .returns{
    margin-right:10px;
  }
  .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    flex-grow: 1;
    margin-left: 15px;
  }
.animate{
    
    height: 200px;
    background-image: url("../img/gift1.jpg");
    background-position: center;
    background-size: cover;
    animation: changeimage 5s alternate infinite ;
  
  }
    @keyframes changeimage {
    0%{
      background-image: url(../img/gift1.jpg);
    }
    100%{
      background-image: url(../img/gift2.jpg);
    } 
    
  }
  .ani{
    padding: 20px;
    background-color: #eaeaea;
    margin: 20px;
  }
.gift2{
    height:360px;
    width: 480px;
    display: inline;
   
}
.gift2 img{
  margin:0px 10px;
    height:400px;
    width: 600px;   
}
.gift3 img{
    margin:0px 10px;
      height:250px;
      width: 600px;   
  }


  .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 900;
    height: 60px;
  }
  .footer-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  
    background: #191f28;
  }
  .footer-items h3 {
  
    font-weight: 900;
    color: #fff;
    margin: 20px 0 10px 0;
  }
  .footer-items ul 
  {
    list-style: none;
    margin-bottom: 20px;
    color: #ddd;
    font-size: 0.875rem;
  }
  .footer-items li a:hover 
  {
    text-decoration: underline;
  }